.faq-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1160px;
  margin: 0 auto;
}
.title-faq {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}
.faq-section > :last-child {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.faq-section dl dt {
  display: block;
  border-bottom: 2px solid #d9d9d9;
}

.faq-section dt {
  font: 400 1.2em/1.5em "Roboto Slab", sans-serif;
  color: #555555;
  padding-bottom: 10px;
  padding-top: 20px;
  position: relative;
  cursor: pointer;
}
.faq-section dd {
  padding-top: 10px;
  padding-bottom: 20px;
  display: none;
}
.faq-section dl {
  font: 400 1em/1.5em "Roboto Slab", sans-serif;
  color: #bdbdbd;
}
.faq-section dt.plus::before {
  content: "";
  background-image: url(/images/ph--plus-bold\ 2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  left: -30px;
  top: 30px;
  text-align: center;
  position: absolute;
  cursor: pointer;
}

.faq-section dt.minus::before {
  content: "";
  background-image: url(/images/ph--minus-bold\ 1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  left: -30px;
  top: 20px;
  text-align: center;
  position: absolute;
  cursor: pointer; /* Altera o cursor ao passar o mouse */
}
@media (max-width: 768px) {
  .title-faq {
    padding-bottom: 10px;
  }
  .image-faq img {
    display: none;
  }
  .faq-section {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }
  .faq-section > :first-child {
    grid-column: span 1;
  }
  .faq-section > :last-child {
    align-items: center;
  }
  .faq-section dt.plus::before,
  .faq-section dt.minus::before {
    left: -25px;
    top: 25px;
  }
  .faq-section dl {
    padding: 0 20px;
  }
}
