.hero-section {
  background-image: url("/images/hero-section-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 1900px;
  height: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -80px;
}
.hero-section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 200px;
  gap: 20px;
}
.hero-section-content__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.download_btn a {
  border-bottom: 1px solid var(--color-gray-1);
}
.download_btn::before {
  content: "";
  background-image: url(/images/ph--download-simple-light.svg);
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 25px;
  height: 25px;
}
@media (max-width: 768px) {
  .hero-section-content > div:first-child {
    display: none;
  }
  .hero-section-content p {
    display: none;
  }
  .hero-section-content__buttons {
    flex-direction: column;
    margin-top: 5px;
    width: 100%;
  }
  .hero-section {
    background-image: url("/images/hero-section-bg-mobile.svg");
    height: 700px;
  }
}
