.btn-r-fill {
  display: inline-block;
  background-color: var(--color-red);
  border-radius: 76px;
  padding: 14px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--color-white);
  text-align: center;
  cursor: pointer;
}
.btn-w-fill {
  display: inline-block;
  background-color: var(--color-white);
  border-radius: 76px;
  border: none;
  padding: 14px 20px;
  max-width: 260px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--color-red);
  text-align: center;
  cursor: pointer;
}
.btn-w-fill:hover {
  background: linear-gradient(to bottom, #cccccc, #ffffff);
  transform: scale(1.05);
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
.btn-r-fill:hover {
  background-image: var(--gradient-red);
  transform: scale(1.05);
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
.header__contact-button {
  display: inline-block;
  border: 2px solid var(--color-gray-6);
  border-radius: 76px;
  padding: 12px 18px;
  color: var(--color-gray-6);
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}
.header__contact-button.v {
  color: var(--color-red);
  border: 2px solid var(--color-red);
}
.header__contact-button.v:hover {
  background-color: var(--color-red);
  color: var(--color-white);
  transition: background-color 0.3s ease, color 0.3s ease;
}
#btn-contact {
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (max-width: 768px) {
  .btn-r-fill {
    padding: 8px 14px;
  }
}
