.card {
  width: 220px;
  height: 260px;
  background-color: var(--color-red);
  border-radius: 15px;
  flex-shrink: 0;
  position: relative;
}
.card:hover {
  background-image: var(--gradient-red);
  transform: scale(0.95);
}
.card-icons {
  display: flex;
  justify-content: space-between;
}
.card-icons img {
  width: 40px;
  height: 40px;
  margin: 16px;
}

.card span {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 4px;
  color: var(--color-white);
  font: 700 1.2rem/1 "Roboto", sans-serif;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}
