.footer {
  background: var(--color-gray-1);
  color: var(--color-white);
  padding-top: 36px;
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  max-width: 1160px;
  margin: 0 auto;
  padding-bottom: 48px;
}

.footer__privacy {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  align-self: center;
}

.footer__privacy::before {
  content: "";
  display: inline-block;
  background-color: gray;
  position: absolute;
  height: 0.5px;
  width: 1160px;
  bottom: 24px;
}

.footer__social-icons {
  display: flex;
  gap: 40px;
}

.footer__social-icons img {
  height: 20px;
  width: 20px;
}
.footer__social-icons a:hover img {
  filter: invert(88%) sepia(100%) saturate(2489%) hue-rotate(1deg)
    brightness(100%) contrast(101%);
}
.footer__logo {
  height: 100px;
  width: 100px;
}

.footer__social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer__address {
  text-align: center;
}
.footer__title {
  margin-bottom: 10px;
}
.footer__info span {
  content: "";
  display: inline-block;
  background-image: var(--gradient-red);
  width: 40px;
  height: 3px;
  position: absolute;
  top: 60px;
}

.footer__links span {
  content: "";
  display: inline-block;
  background-image: var(--gradient-red);
  width: 40px;
  height: 3px;
  position: absolute;
  top: 20px;
}

.footer__item {
  padding-top: 6px;
}
.footer__item:hover {
  filter: invert(88%) sepia(100%) saturate(2489%) hue-rotate(1deg)
    brightness(100%) contrast(101%);
}
.footer__links {
  position: relative;
}
.footer__info {
  position: relative;
}

@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
  }

  .footer__privacy {
    display: inline-block;
    padding: 0 30px;
    text-align: center;
  }
  .footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__links::after {
    display: none;
  }

  .footer__social-icons {
    justify-content: center;
    gap: 20px;
  }

  .footer__logo {
    height: 80px;
    width: 80px;
  }
  .footer__links span {
    top: 20px;
    left: 25px;
  }
  .footer__info span {
    top: 100px;
  }
  .footer__title {
    margin-bottom: 20px;
  }
  .footer__social-media,
  .footer__info {
    align-items: center;
  }
  .footer__privacy::before {
    display: none;
  }
  .footer__address {
    text-align: left;
  }
  .footer__address {
    text-align: center;
    margin-top: 40px;
  }
  .footer__social-media {
    margin-top: 50px;
  }
}
